<div class="statistics-item left">
    <div class="header">
        <a class="tip left"></a>
        <span class="left headerContent">机构</span>
    </div>
    <div class="content clearfix">
        <img class="image left" src="images/organization-s.png"/>
        <span class="text left" ng-bind="$ctrl.organization">
        </span>
        <span class="unit left">个</span>
    </div>
</div>
<div class="statistics-item left" n>
    <div class="header">
        <a class="tip left"></a>
        <span class="left headerContent">产品</span>
    </div>
    <div class="content">
        <img class="image left" src="images/product-s.png"/>
        <span class="text left" ng-bind="$ctrl.product">
        </span>
        <span class="unit left">个</span>
    </div>
</div>
<div class="statistics-item left">
    <div class="header">
        <a class="tip left"></a>
        <span class="left headerContent">技术</span>
    </div>
    <div class="content">
        <img class="image left" src="images/technology-s.png"/>
        <span class="text left" ng-bind="$ctrl.organization">
        </span>
        <span class="unit left">个</span>
    </div>
</div>